<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/authpages.css" />
</head>

<h2>Change your password</h2>
<h4>Username: {{theUser.username}}</h4>

<form action="/new-password" method="post">

<div class="pass-input">
    <label for="">
        Old Password
        <input type="text" name="oldpass">
    </label>
</div>

<div class="pass-input">
    <label for="">
        New Password
        <input type="text" name="newpass">
    </label>
</div>

<div class="pass-input">
    <label for="">
        Confirm New Password
        <input type="text" name="confirmnewpass">
    </label>
</div>



<button>Submit</button>