<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/authpages.css" />
</head>


<h2>Login</h2>

<form action="/login" method="post">
<label for="username">
    username
    <input type="text" name="username">
</label>

<label for="password">
    password
    <input type="text" name="password">
</label>

<button>Login</button>
</form>