<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/authpages.css" />
</head>


<center><div class="authform">
<h2>Login</h2>
<br>
<form action="/login" method="post">
<label for="username">
    username
    <input type="text" name="username">
</label>
<br>
<br>
<label for="password">
    password
    <input type="text" name="password">
</label>
<br>
<br>
<button>Login</button>
</form>
</div></center>