<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>

<section>
<h2>User Profile</h2>

<h4 class = 'username'>
    Username: 
    <p>{{theUser.username}}</p>
</h4>

<br>
<h4>Want to change your password?
    <a class = "chg-pass"href="/change-password">Click Here</a>
</h4>
<br><br>
<div>
<hr>
<h2>Favorite Outfits</h2>
    <br>
    {{#each theUser.likes}}
        {{#each items}} 
            <img width="200px" height="220px" src="{{image}}">
            <h3>ItemName: {{itemName}}</h3>
        {{/each}}
        <hr>
    {{/each}}

</div>

</section>



