<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/authpages.css" />
</head>


<h2>User Profile</h2>

<h4 class = 'username'>
    Username: 
    <p>{{theUser.username}}</p>
</h4>

<br><br>
<h4>Want to change your password?
    <a class = "chg-pass"href="/change-password">Click Here</a>
</h4>
<br><br>
<div>
    <h4>Favorite Outfits</h4>
    <br>
    <hr>
    {{#each theUser.likes}}
        <h3>Title: {{title}}</h3>
        <h3>Genre: {{genre}}</h3>
    {{/each}}
</div>





