<h2>Sign Up</h2>

<form action="/signup" method="post">
<label for="username">
    <input type="text" name="username" placeholder="Add Username">
</label>

<label for="password">
    <input type="text" name="password" placeholder="Add Password">
</label>

<label for="email">email
    <input type="email" name="email">
</label>

<button>Save</button>
</form>