

<h1>Celeb List</h1>

<div>
    {{#each celebrities}}
        <br>
        <h3>Name: {{this.name}}</h3>
        <h3>Occupation: {{this.occupation}}</h3>
        <h3>Catch Phrase: {{this.catchPhrase}}</h3>
    {{/each}}

</div>

