
<h2 class="new-celeb">New Celebrity Page</h2>

<form class= "new-celeb-form"action="/celebrities/create" method="post">
    <label>
        Name: 
        <input type="text" name="name">
    </label>
    <label>
        Occupation: 
        <input type="text" name="occupation">
    </label>
    <label>
        Catch Phrase: 
        <input type="text" name="catchPhrase">
    </label>

    <br>
    <button>Sumbit</button>
</form>


