<header> 

{{!-- <img src="/images/Hello Closet!-white.png" alt="logo"> --}}
<h1>Hello Closet!</h1>
<h1>Welcome to Your Bitch'n Closet</h1>

<div class= "buttons-section">
<button> Learn More </button> <button><a class="nav-link" href="/signup">Sign Up</a></button>
</div>

</header>

<hr>


</section>

<section class="outfits">

</section>

<footer class="footer">

</footer>