<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YourCloset</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>


     <nav class="navbar navbar-custom navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/Hello Closet!.png" alt="logo" width="125px"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {{#if theUser}}
            <a class="nav-link" href="/profile">Profile</a>
          {{/if}}
        </li>
        <li class="nav-item">
            {{#unless theUser}}
              <a class="nav-link" href="/login">Login</a>
            {{/unless}}
        </li>
        <li class="nav-items">
          {{#unless theUser}}
            <a class="nav-link" href="/signup">Sign Up</a> 
          {{/unless}}
        </li>
        <li class="nav-item">
          {{#if theUser}}
            <a class="nav-link"href="/items/create">Add Item</a> <br>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if theUser}}
          <a class="nav-link" href="/items/items">See Items</a> <br>
          {{/if}}
        </li>
        <li class="nav-item">
            {{#if theUser}}
              <a class="nav-link"href='/outfits/create'>Create Outfits</a> 
            {{/if}}
        </li>
        <li class="nav-item">
            {{#if theUser}}
              <a class="nav-link"href='/outfits/outfits'>Your Outfits</a> 
            {{/if}}
        </li>
        <li class="nav-item">
          {{#if theUser}}
          <form action="/logout" method="post">
              <button>Logout</button>
          </form>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>

 


    {{#if errorMessage}}
      <div class="error-div">
          {{errorMessage}}
      </div>
    {{/if}}

    {{#if successMessage}}
      <div class="success-div">
          {{successMessage}}
      </div>
    {{/if}}

      <div class="container">
    
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>