@import '~bootstrap/css/bootstrap';

body {
  margin: 0;
  font-family:'Bungee Spice';
  background-color:  rgba(11, 126, 116, 0.716);
  color: pink;
  font-family:monospace;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}