<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/outfits.css" />
</head>


<div>
<form action="/outfits/create" method="post">
<center>
    <button class="create-btn">Create Outfit Using Selected Items</button>
</center>
</div>

<br>
<div class="row">
    {{#if theUser}}
        {{#each allItems}}
        <div class="col">
                
                <input type="hidden" value="{{owner}}" name="owner">
                <input type="checkbox" value="{{_id}}" name="items">
                <img width="200px" height="220px" src="{{image}}">

        </div>
        
            <br>
            <br>
            {{/each}}
            </div>
    </form>
    {{/if}}
 
  



