<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/items.css" />
</head>

<h2>Create an Outfit</h2>

<div class="item-feed">
    {{#if theUser}}
    <form action="/outfits/create" method="post">
        <button>Add Item to Outfit</button>
        {{#each allItems}}
        <div>
            <img width="200px" height="220px" src="{{image}}">
            <input type="hidden" value="{{owner}}" name="owner">
            <input type="checkbox" value="{{_id}}" name="items">
        </div>
        {{/each}}
    </form>
    {{/if}}
</div>

